<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sys.mapper.CarsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.sys.entity.Cars">
        <result column="vehicle_id" property="vehicleId" />
        <result column="gps_time" property="gpsTime" />
        <result column="lat" property="lat" />
        <result column="lng" property="lng" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vehicle_id, gps_time, lat, lng
    </sql>

</mapper>
